/* Prepare HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply page defaults */
body, html {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 60%;
  overflow: auto;
  padding: 0;
}



/* Navbar */
#navbar {
  background: #333333;
  color: white;
  overflow: auto;

}

#navbar h1 {
  float:left;
  padding: 10px;
}

#navbar ul {
  float: right;
  list-style-type: none;
}

#navbar li {
  float: left;
  /* padding: 10px; */
}

#navbar a {
  display: block;
  color: white;
  /* padding: 10px; */
}

#navbar li a:hover,
#navbar li a.current {
  background: #444444;
  color: #f7c08a
}